body {
    background-color: lightgreen;
    color: darkblue;
    font-family: Arial;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

#image {
    text-align: center;
}
/* for entire div, this will work here margin didn't work as it was considering all the images together instead of setting margins seperately for others */

img {
    margin-right: 35px;
    box-shadow: 5px 5px 2px grey;
    border-radius: 10px;
    border: 2px solid black;
}

p {
    font-size: larger;
}

a {
    margin-right: 20px;
    font-size: 23px;
    color: blue;
}

a:hover{
    color: rgb(228, 7, 7);
}

li {
    font-size: 20px;
}

label {
    font-size: 20px;
}

#problems a {
    color: darkblue;
    font-size: 18px;
}

#thanks {
    font-size: 40px;
    text-align: center;
}

#cute {
    text-align: center;
}