body{
    background-color: lightgreen;
    color: darkblue;
    font-family: Arial;
}

h1{
    text-align: center;
}

h2{
    text-align:center
}

img{
    margin: 15px;
    text-align: center;
}

p{
    font-size: larger;
}

a{
    margin-right: 20px;
    font-size: 23px;
    color: blue;
}

li{
    font-size: 20px;
}

label{
    font-size: 20px;
}

#problems a{
    color: darkblue;
    font-size: 18px;
}